<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:form action="passwordForgot" name="frontendUser" class="form-fields">
        <div class="flex-container">
            <div class="form flex flex-basis-6 full-width-medium space-between">
                <div class="form__field width100">
                    <label class="form-label" for="email">
                        <f:translate key="tx_rkwregistration_domain_model_frontenduser.username" />
                    </label>
                    <f:form.textfield name="username" value="{username}" id="email" type="email" additionalAttributes="{autocomplete:'email'}"/>
                </div>

                <f:link.action pageUid="{loginPid}" action="loginShow" class="btn btn--secondary btn--small">
                    <span><f:translate key="partials_registration_passwordForgot.labelBack"/></span>
                </f:link.action>

                <button type="submit" class="btn btn--primary btn--small">
                    <span><f:translate key="partials_registration_passwordForgot.labelSend" /></span>
                </button>
            </div>
        </div>
    </f:form>
</html>
