<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">
        <h2><f:translate key="templates_registration_deleteUserShow.headline" /></h2>

        <f:render partial="FlashMessages" arguments="{_all}" />
        <f:render partial="FormErrors" arguments="{for:frontendUser}"/>

        <div class="system-message" role="alert">
            <div class="system-message__item system-message__item--alert-question system-message--scroll">
                <f:translate key="templates_registration_deleteUserShow.reallyDelete" />
            </div>
        </div>

        <f:form action="deleteUser" name="frontendUser" object="{frontendUser}" class="form-fields">
            <div class="btn-list btn-list--footer">

                <f:link.action pageUid="{welcomePid}" action="welcome" class="btn btn--secondary">
                    <f:translate key="templates_registration_deleteUserShow.labelBack"/>
                </f:link.action>

                <button type="submit" class="btn btn--primary">
                    <span><f:translate key="templates_registration_deleteUserShow.labelDelete" /></span>
                </button>
            </div>

        </f:form>

    </f:section>

</html>

