
<f:layout name="Default" />
<f:section name="main">
	<h2><f:translate key="templates_registration_passwordForgotShow.headline" /></h2>

    <f:flashMessages as="flashMessages">
        <f:for each="{flashMessages}" as="flashMessage">
            <div class="typo3-messages">
                <div class="alert alert-{flashMessage.class}">
                    <div class="media">
                        <div class="media-body">
                            <div class="alert-message">
                                <f:format.raw>{flashMessage.message}</f:format.raw>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:for>
    </f:flashMessages>

	<f:render partial="Registration/PasswordForgot" arguments="{_all}" />

</f:section>