<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:rkwRegistration="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
      xmlns:rkwMailer="http://typo3.org/ns/RKW/RkwMailer/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />
    
    <!-- PLAINTEXT -->
    <f:section name="Plaintext"><rkwMailer:email.plaintextLineBreaks>
        <rkwMailer:email.recipientSalutation 
            queueRecipient="{queueRecipient}" 
            prependText="<rkwMailer:email.translate key='templates_email_confirmation.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' />, "
            appendText="!"
            fallbackText="<rkwMailer:email.translate key='templates_email_confirmation.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' />" 
            />\n\n
        
        <rkwMailer:email.translate key="templates_email_confirmation.teaser" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />\n\n
        
        <rkwMailer:email.translate key="templates_email_confirmation.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/>:\n
        <rkwMailer:email.translate key="templates_email_confirmation.username" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/>: {frontendUser.username}\n
        <rkwMailer:email.translate key="templates_email_confirmation.password" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/>: {plaintextPasswordForMail}\n
        
        <rkwMailer:email.translate key="templates_email_confirmation.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />\n\n
        
        <rkwMailer:email.translate key="templates_email_passwordReset.loginLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />:\n
        <rkwMailer:email.uri.page pageUid="{settings.loginPid}" noCacheHash="true"/>
    </rkwMailer:email.plaintextLineBreaks></f:section>
    
    <!-- HTML -->
    <f:section name="Html">
        <h1><rkwMailer:email.recipientSalutation 
            queueRecipient="{queueRecipient}" 
            prependText="<rkwMailer:email.translate key='templates_email_confirmation.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' />, "
            appendText="!"
            fallbackText="<rkwMailer:email.translate key='templates_email_confirmation.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' />"
        /></h1>
        <p><rkwMailer:email.translate key="templates_email_confirmation.teaser" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/></p>
        <p>
            <rkwMailer:email.translate key="templates_email_confirmation.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/>:<br/>
            <rkwMailer:email.translate key="templates_email_confirmation.username" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/>: <strong>{frontendUser.username}</strong><br/>
            <rkwMailer:email.translate key="templates_email_confirmation.password" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/>: <strong>{plaintextPasswordForMail}</strong>
        </p>
        <p><rkwMailer:email.translate key="templates_email_confirmation.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" /></p>
        <p>
            <a href="{rkwMailer:email.uri.page(pageUid: settings.loginPid, noCacheHash: true)}">
                <rkwMailer:email.translate key="templates_email_passwordReset.loginLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />
            </a>
        </p>
    </f:section>
</html>