<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:rkwRegistration="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
      xmlns:rkwMailer="http://typo3.org/ns/RKW/RkwMailer/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />


    <!-- PLAINTEXT -->
    <f:section name="Plaintext"><rkwMailer:plaintextLineBreaks>
        <rkwMailer:recipientSalutation queueRecipient="{queueRecipient}"
                                       prependText="{rkwMailer:email.translate(key:'templates_email_optinGroup.headline', languageKey:'{queueRecipient.languageCode}', extensionName:'rkwRegistration')}, "
                                       appendText="!"
                                       fallbackText="{rkwMailer:email.translate(key:'templates_email_optinGroup.headline', languageKey='{queueRecipient.languageCode}', extensionName:'rkwRegistration)}!"
        />\n\n

        <rkwMailer:email.translate key="templates_email_optinGroup.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" arguments="{0: frontendUserGroup.title}" />\n\n

        <rkwMailer:email.translate key="templates_email_optinGroup.textOptIn" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />\n
        <rkwMailer:email.uri.action action="optIn" controller="Registration" extensionName="rkwRegistration" pluginName="register"
                                 absolute="true" noCacheHash="TRUE" pageUid="{settings.users.registrationPid}"
                                 additionalParams="{tx_rkwregistration_register: {token: tokenYes, user: userSha1}}"/>\n\n

        <rkwMailer:email.translate key="templates_email_optinGroup.textOptOut" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" arguments="{0: settings.users.daysForOptIn}" />\n
        <rkwMailer:email.uri.action action="optIn" controller="Registration" extensionName="rkwRegistration" pluginName="register"
                                 absolute="true" noCacheHash="TRUE" pageUid="{settings.users.registrationPid}"
                                 additionalParams="{tx_rkwregistration_register: {token: tokenNo, user: userSha1}}" />
    </rkwMailer:plaintextLineBreaks></f:section>


    <!-- HTML -->
    <f:section name="Html">
        <h1>
            <rkwMailer:recipientSalutation queueRecipient="{queueRecipient}"
                                           prependText="{rkwMailer:email.translate(key:'templates_email_optinGroup.headline', languageKey:'{queueRecipient.languageCode}', extensionName:'rkwRegistration')}, "
                                           appendText="!"
                                           fallbackText="{rkwMailer:email.translate(key:'templates_email_optinGroup.headline', languageKey='{queueRecipient.languageCode}', extensionName:'rkwRegistration)}!"
            />
        </h1>
        <p><rkwMailer:email.translate key="templates_email_optinGroup.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" arguments="{0: frontendUserGroup.title}" /></p>
        <p>
            <rkwMailer:email.translate key="templates_email_optinGroup.textOptIn" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/><br>
            <a href="<rkwMailer:email.uri.action action='optIn' controller='Registration' extensionName='rkwRegistration' pluginName='register' absolute='true' noCacheHash='TRUE' pageUid='{settings.users.registrationPid}' additionalParams='{tx_rkwregistration_register: {token: tokenYes, user: userSha1}}' />"><rkwMailer:email.translate key="templates_email_optinGroup.textOptInLinkLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/></a>
        </p>
        <p>
            <rkwMailer:email.translate key="templates_email_optinGroup.textOptOut" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" arguments="{0: settings.users.daysForOptIn}" /><br>
            <a href="<rkwMailer:email.uri.action action='optIn' controller='Registration' extensionName='rkwRegistration' pluginName='register' absolute='true' noCacheHash='TRUE' pageUid='{settings.users.registrationPid}' additionalParams='{tx_rkwregistration_register: {token: tokenNo, user: userSha1}}'  />"><rkwMailer:email.translate key="templates_email_optinGroup.textOptOutLinkLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/></a>
        </p>
    </f:section>
</html>
