{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
<rkwMailer:email.translate key="templates_email_passwordReset.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />

<rkwMailer:email.translate key="templates_email_passwordReset.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" arguments="{0 : plaintextPasswordForMail}"/>

<rkwMailer:email.translate key="templates_email_passwordReset.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />

<rkwMailer:email.translate key="templates_email_passwordReset.loginLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />:
<rkwMailer:email.uri.action pageUid="{loginPid}" absolute="true" noCacheHash="true"/>
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><rkwMailer:email.translate key="templates_email_passwordReset.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" /></h1>

	<p><rkwMailer:email.translate key="templates_email_passwordReset.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" arguments="{0 : ''}"/><strong>{plaintextPasswordForMail}</strong></p>
	<p><rkwMailer:email.translate key="templates_email_passwordReset.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" /></p>
	<p><a href="<rkwMailer:email.uri.action pageUid='{loginPid}' absolute='true' noCacheHash='true'/>"><rkwMailer:email.translate key="templates_email_passwordReset.loginLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" /></a></p>
</f:section>
