{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
<rkwMailer:email.translate key="templates_email_serviceOptInAdminRequest.headline" languageKey="{backendUser.lang}" extensionName="rkwRegistration" arguments="{0 : backendUser.realName}" />

<rkwMailer:email.translate key="templates_email_serviceOptInAdminRequest.text1" languageKey="{backendUser.lang}" extensionName="rkwRegistration" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}"/>

<rkwMailer:email.translate key="templates_email_serviceOptInAdminRequest.textOptIn" languageKey="{backendUser.lang}" extensionName="rkwRegistration" />
<rkwMailer:email.uri.action action="optIn" controller="Service" extensionName="rkwRegistration" pluginName="serviceOptIn" absolute="true" noCacheHash="TRUE" pageUid="{pageUid}" additionalParams="{tx_rkwregistration_serviceoptin: {token: tokenYes, service: serviceSha1}}"/>

<rkwMailer:email.translate key="templates_email_serviceOptInAdminRequest.textOptOut" languageKey="{backendUser.lang}" extensionName="rkwRegistration" />
<rkwMailer:email.uri.action action="optIn" controller="Service" extensionName="rkwRegistration" pluginName="serviceOptIn" absolute="true" noCacheHash="TRUE" pageUid="{pageUid}" additionalParams="{tx_rkwregistration_serviceoptin: {token: tokenNo, service: serviceSha1}}" />
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><rkwMailer:email.translate key="templates_email_serviceOptInAdminRequest.headline" languageKey="{backendUser.lang}" extensionName="rkwRegistration" arguments="{0 : backendUser.realName}" /></h1>
	<p><rkwMailer:email.translate key="templates_email_serviceOptInAdminRequest.text1" languageKey="{backendUser.lang}" extensionName="rkwRegistration" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" /></p>
	<ul>
		<f:for each="{service.usergroup}" as="usergroup">
			<li>{usergroup.title}</li>
		</f:for>
	</ul>
	<p>
		<rkwMailer:email.translate key="templates_email_serviceOptInAdminRequest.textOptIn" languageKey="{backendUser.lang}" extensionName="rkwRegistration"/><br>
		<a href="<rkwMailer:email.uri.action action='optIn' controller='Service' extensionName='rkwRegistration' pluginName='serviceOptIn' absolute='true' noCacheHash='TRUE' pageUid='{pageUid}' additionalParams='{tx_rkwregistration_serviceoptin: {token: tokenYes, service: serviceSha1}}' />"><rkwMailer:email.translate key="templates_email_serviceOptInAdminRequest.textOptInLinkLabel" languageKey="{backendUser.lang}" extensionName="rkwRegistration"/></a>
	</p>
	<p>
		<rkwMailer:email.translate key="templates_email_serviceOptInAdminRequest.textOptOut" languageKey="{backendUser.lang}" extensionName="rkwRegistration" /><br>
		<a href="<rkwMailer:email.uri.action action='optIn' controller='Service' extensionName='rkwRegistration' pluginName='serviceOptIn' absolute='true' noCacheHash='TRUE' pageUid='{pageUid}' additionalParams='{tx_rkwregistration_serviceoptin: {token: tokenNo, service: serviceSha1}}'  />"><rkwMailer:email.translate key="templates_email_serviceOptInAdminRequest.textOptOutLinkLabel" languageKey="{backendUser.lang}" extensionName="rkwRegistration"/></a>
	</p>
</f:section>
