<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:section name="main">

        <f:render partial="FlashMessages" arguments="{_all}" />

        <f:if condition="{settings.users.anonymousRedirectPid}">
            <div class="flex-container flex-basis-12 btn-list">
                <f:link.page pageUid="{settings.users.anonymousRedirectPid}" class="btn btn--primary full-width-narrow" >
                    <f:translate key="templates_authGuest_loginHint.continue" />
                </f:link.page>
            </div>
        </f:if>

    </f:section>
</html>
