<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwRegistration="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="form__field width50 ui-front">
        <label class="form-label" for="title">
            <f:translate key="tx_rkwregistration_domain_model_frontenduser.tx_rkwregistration_title" />
            <f:render partial="LabelSuffix" arguments="{field: 'txRkwregistrationTitle', frontendUser: frontendUser}" />
        </label>
        <f:form.textfield property="txRkwregistrationTitle.name" id="title" additionalAttributes="{autocomplete: 'off'}"/>
        <f:widget.autocomplete objects="{titles}" for="title" searchProperty="name"></f:widget.autocomplete>
    </div>
</html>
