<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwRegistration="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:section name="main">

        <h2><f:translate key="templates_registration_loginShow.headline" /></h2>

        <f:render partial="FlashMessages" arguments="{_all}" />

        <f:render partial="Auth/Login" arguments="{_all}" />

        <f:link.action action="new" controller="Password" class="text-smaller"><f:translate key="templates_registration_loginShow.passwordForgot" /></f:link.action>

    </f:section>
</html>
