<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vh="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:section name="main">

        <f:render partial="FlashMessages" arguments="{_all}" />

        <f:security.ifAuthenticated>
            <f:then>

                <div class="alternatives">

                    <f:comment>
                        <div class="alternatives__item">
                            <f:link.page
                                class="btn btn--primary"
                                pageUid="{settings.users.loginPid}"
                                noCacheHash="true"
                                target="_blank"
                            >
                                <f:translate key="templates_registration_loginShowExternal.login2" />
                            </f:link.page>
                        </div>
                    </f:comment>

                    <f:link.external
                        class="btn btn--primary"
                        uri='<vh:link.myRkwLink pageUid="{settings.users.loginPid}" />'
                        target="{linkTargetLogin}"
                    >
                        <f:translate key="templates_registration_loginShowExternal.login2" />
                    </f:link.external>

                    <div class="alternatives__item alternatives__item--between">
                        <f:translate key="templates_registration_loginShowExternal.orLabel" />
                    </div>

                    <div class="alternatives__item">

                        <f:if condition="<vh:isUserAnonymous frontendUser='{frontendUser}'/>">
                            <f:then>
                                <f:link.action
                                    class="btn btn--secondary"
                                    action="logoutAnonymous"
                                >
                                    <f:translate key="templates_registration_loginShowExternal.logout" />
                                </f:link.action>
                            </f:then>
                            <f:else>
                                <f:comment>
                                    <f:link.page
                                        class="btn btn--secondary"
                                        pageUid="{settings.users.logoutPid}"
                                        noCacheHash="true"
                                        target="{linkTargetLogout}"
                                    >
                                        <f:translate key="templates_registration_loginShowExternal.logout" />
                                    </f:link.page>
                                </f:comment>

                                <f:link.external
                                    class="btn btn--secondary"
                                    uri='<vh:link.myRkwLink pageUid="{settings.users.logoutPid}" />'
                                    target="{linkTargetLogout}"
                                >
                                    <f:translate key="templates_registration_loginShowExternal.logout" />
                                </f:link.external>



                            </f:else>
                        </f:if>
                    </div>
                </div>

            </f:then>

            <f:else>
                <f:if condition="{settings.users.allowAnonymousLogin}">
                    <f:then>

                        <!-- with anonymous login -->
                        <div class="alternatives">

                            <div class="alternatives__item">

                                <h3 class="h5"><f:translate key="templates_registration_loginShowExternal.loginLabel" /></h3>

                                <f:comment>
                                    <f:link.page
                                        class="btn btn--primary"
                                        pageUid="{settings.users.loginPid}"
                                        noCacheHash="true"
                                        target="{linkTargetLogin}"
                                    >
                                        <f:translate key="templates_registration_loginShowExternal.login" />
                                    </f:link.page>
                                </f:comment>

                                <f:link.external
                                    class="btn btn--primary"
                                    uri='<vh:link.myRkwLink pageUid="{settings.users.loginPid}" />'
                                    target="{linkTargetLogin}"
                                >
                                    <f:translate key="templates_registration_loginShowExternal.login" />
                                </f:link.external>

                                <h3 class="h5"><f:translate key="templates_registration_loginShowExternal.registerLabel" /></h3>
                                <f:link.page
                                    class="btn btn--primary"
                                    pageUid="{settings.users.registrationPid}"
                                    noCacheHash="true"
                                    target="{linkTargetLogin}"
                                >
                                    <f:translate key="templates_registration_loginShowExternal.register" />
                                </f:link.page>
                            </div>

                            <div class="alternatives__item alternatives__item--between">
                                <f:translate key="templates_registration_loginShowExternal.orLabel" />
                            </div>

                            <div class="alternatives__item">
                                <h3 class="h5"><f:translate key="templates_registration_loginShowExternal.anonymousLabel" /></h3>
                                <f:link.action
                                    class="btn btn--secondary"
                                    action="loginAnonymous"
                                >
                                    <f:translate key="templates_registration_loginShowExternal.anonymous" />
                                </f:link.action>
                            </div>

                        </div>
                    </f:then>

                    <f:else>

                        <!-- without anonymous login -->
                        <div class="alternatives">
                            <div class="alternatives__item">
                                <h3 class="h5"><f:translate key="templates_registration_loginShowExternal.loginLabel" /></h3>

                                <f:comment>
                                <f:link.page
                                    class="btn btn--primary"
                                    pageUid="{settings.users.loginPid}"
                                    noCacheHash="true"
                                    target="{linkTargetLogin}"
                                >

                                    <f:translate key="templates_registration_loginShowExternal.login" />
                                </f:link.page>
                                </f:comment>

                                <f:link.external
                                    class="btn btn--primary"
                                    uri='<vh:link.myRkwLink pageUid="{settings.users.loginPid}" />'
                                    target="{linkTargetLogin}"
                                >
                                    <f:translate key="templates_registration_loginShowExternal.login" />
                                </f:link.external>
                            </div>

                            <div class="alternatives__item alternatives__item--between">
                                <f:translate key="templates_registration_loginShowExternal.orLabel" />
                            </div>

                            <div class="alternatives__item">

                                <h3 class="h5"><f:translate key="templates_registration_loginShowExternal.registerLabel" /></h3>
                                <f:link.page
                                    class="btn btn--primary"
                                    pageUid="{settings.users.registrationPid}"
                                    noCacheHash="true"
                                    target="{linkTargetLogin}"
                                >
                                    <f:translate key="templates_registration_loginShowExternal.register" />
                                </f:link.page>
                            </div>

                        </div>

                    </f:else>
                </f:if>
            </f:else>
        </f:security.ifAuthenticated>


    </f:section>

</html>