<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:form action="login" name="frontendUser" class="form-fields" >
        <div class="flex-container">
            <div class="form flex flex-basis-6 full-width-medium space-between">
                <div class="form__field width100">
                    <label class="form-label" for="username">
                        <f:translate key="tx_rkwregistration_domain_model_frontenduser.username" />
                    </label>
                    <f:form.textfield id="username" name="login[username]" value="{login.username}" type="email" additionalAttributes="{autocomplete:'email'}"/>
                </div>
                <div class="form__field width100">
                    <label class="form-label" for="password" >
                        <f:translate key="tx_rkwregistration_domain_model_frontenduser.password" />
                    </label>
                    <f:form.password id="password" name="login[password]" />
                </div>
                <button type="submit" class="btn btn--primary btn--small">
                    <span><f:translate key="partials_registration_login.labelLogin" /></span>
                </button>
            </div>
        </div>
    </f:form>
</html>