<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vh="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

     <f:section name="main">

        <h2><f:translate key="templates_service_list.headline" /></h2>

        <f:render partial="FlashMessages" arguments="{_all}" />

         <table class="responsive-table responsive-table--background" >

            <f:for each="{services}" as="service" iteration="iterator">
                <tr>
                    <td>
                        <h3 class="h4">{service.title}
                            <f:if condition="{service.txRkwregistrationServiceOpeningDate} > <vh:getTodaysDate/>">
                                &nbsp;(<f:translate key="templates_service_list.serviceComingSoon" /> <f:format.date format="d.m.Y">{service.txRkwregistrationServiceOpeningDate}</f:format.date>)
                            </f:if>
                        </h3>

                        <p>{service.description}</p>
                        <f:if condition="{service.txRkwregistrationServiceOpeningDate} <= <vh:getTodaysDate/>">
                            <f:then>
                                <f:if condition="<vh:isRequestedService service='{service}' serviceRequests='{serviceRequestsAdmin}' /> == 1">
                                    <f:then>
                                        <div class="system-message" role="alert">
                                            <div class="system-message__item system-message__item--severity2">
                                                <f:translate key="templates_service_list.additionalProfileData" />
                                            </div>
                                        </div>
                                        <div class="btn-list">
                                            <f:link.action pageUid="{editUserPid}" action="editUser" controller="Registration" class="btn btn--primary">
                                                <f:translate key="templates_service_list.checkProfile" />
                                            </f:link.action>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <div class="system-message" role="alert">
                                            <div class="system-message__item system-message__item--severity2">
                                                <f:translate key="templates_service_list.adminRequestPending" />
                                            </div>
                                        </div>
                                    </f:else>
                                </f:if>


                                <f:if condition="<vh:isRequestedService service='{service}' serviceRequests='{serviceRequests}' /> == 0">
                                    <f:then>
                                        <f:if condition="<vh:isUserInGroup groupId='{service.uid}' groupsOfFrontendUser='{groupsOfFrontendUser}' /> == 0">
                                            <f:then>
                                                <div class="btn-list">
                                                    <f:link.action action="create" arguments="{service : service}" class="btn btn--primary">
                                                        <f:translate key="templates_service_list.joinService" />
                                                    </f:link.action>
                                                </div>
                                            </f:then>
                                            <f:else>
                                                <div class="btn-list">
                                                    <f:if condition="{service.txRkwregistrationServicePid}">
                                                        <f:link.page pageUid="{service.txRkwregistrationServicePid}"  class="btn btn--primary">
                                                            <f:translate key="templates_service_list.startNow" />
                                                        </f:link.page>
                                                    </f:if>
                                                    <f:link.action action="delete" arguments="{service : service}" class="btn btn--secondary">
                                                        <f:translate key="templates_service_list.resignService" />
                                                    </f:link.action>
                                                </div>
                                            </f:else>
                                        </f:if>
                                    </f:then>
                                    <f:else>

                                    </f:else>
                                </f:if>
                            </f:then>
                        </f:if>
                    </td>
                </tr>

            </f:for>
        </table>

    </f:section>
</html>
